debug {
    render-drm-device "/dev/dri/card1"
    keep-max-bpc-unchanged
}

hotkey-overlay {
    skip-at-startup
}

environment {
    DMS_RUN_GREETER "1"
}

gestures {
    hot-corners {
        off
    }
}

layout {
    background-color "#000000"
}